@font-face {
  font-family: Interrr;
  font-style: normal;
  src: url("../../Inter/static/Inter-Regular.ttf");
}

$sef: #F0F0F6;
$white: #FFFFFF;
$padding: 0;
$margin: 0;
$in_yel: #FFB400;

$in_ger: #767676;
$black: #2B2B2B;

$sabzak: #7EB942;

$fontF: Interrr;

