@use "variables";

* {
  margin: variables.$margin;
  padding: variables.$padding;
}

.Home {
  position: relative;
  width: 100%;
  height: 3099px;

  background-color: variables.$sef;
}

.big_intro {
  position: absolute;
  width: 970px;
  height: 531.9px;
  left: 335px;
  top: 0px;

  background-color: variables.$white;

  .self {
    position: absolute;
    width: 500px;
    height: 134.4px;
    left: 60px;
    top: 105.92px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 650;
    font-size: 38px;
    line-height: 123.6%;

    color: #2B2B2B;

    .in_yel {
      color: variables.$in_yel;
    }
  }

  .lorem {
    position: absolute;
    width: 424px;
    height: 100.23px;
    left: 60px;
    top: 260.82px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;

    color: variables.$in_ger;
  }

  .hire {
    position: absolute;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;
    padding: 16px 32px;
    gap: 10px;
    left: 60px;
    width: 154px;
    height: 51px;

    background-color: variables.$in_yel;
    border-radius: 5px;
    top: 389.53px;
    //flex: none;
    //order: 0;
    //flex-grow: 0;
  }

  .aks {
    position: absolute;
    width: 325.72px;
    height: 522.89px;
    top: 9.11px;
    left: 586.68px;

    background: no-repeat url(/images/khod.jpg);

  }
}


//intro_first ended...

div.sidebar {
  position: absolute;
  width: 305px;
  height: 1315px;
  left: 0px;
  top: 0px;

  background: variables.$white;

  .sidebar-pic {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 74px;
    top: 50px;

    background: no-repeat url(/images/khod_kochi.jpg);

    border-radius: 50%;
  }

  .sid-name {
    position: absolute;
    width: 142px;
    height: 22px;
    left: 77px;
    top: 231px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;

    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: variables.$black;
  }

  .sid-pos {
    position: absolute;
    width: 143px;
    height: 24px;
    left: 78px;
    top: 268px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: variables.$in_ger;
  }

  .sid-elem {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 307px;
    border-radius: 50%;

    background: variables.$in_yel;
  }

  .fac {
    left: 40px;
  }

  .ins {
    left: 79px;
  }

  .twi {
    left: 118px;
  }

  .link {
    left: 157px;
  }

  .utub {
    left: 196px;
  }

  .chi {
    left: 235px;
  }

  .line {
    position: absolute;
    width: 220px;
    height: 0px;
    border: 1.5px solid #F0F0F6;
    left: 40px;

  }

  .av {
    top: 356px;
  }

  .dov {
    top: 532px;
  }


  .mosh_yek {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

    text-align: right;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;

    color: variables.$black;
  }

  .inner_yek {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: variables.$black;
  }

  .sen {
    position: absolute;
    width: 19px;
    height: 24px;
    left: 241px;
    top: 381px;

  }

  .side-zar {
    position: absolute;
    width: 46px;
    height: 24px;
    left: 40px;
    top: 381px;
    background-color: variables.$in_yel;
  }

  .inner_age {
    position: absolute;
    width: 33px;
    height: inherit;
    left: 5px;
    top: 1px;
  }

  .side-Res {
    position: absolute;
    width: 89px;
    height: 24px;
    left: 40px;
    top: 415px;
    background-color: variables.$in_yel;
  }

  .inner_res {
    position: absolute;
    width: 78px;
    height: inherit;
    left: 5px;
    top: 0px;
  }

  .res {
    position: absolute;
    width: 21px;
    height: 24px;
    left: 239px;
    top: 415px;
  }

  .side-free {
    position: absolute;
    width: 85px;
    height: 24px;
    left: 40px;
    top: 449px;
    background-color: variables.$in_yel;
  }

  .inner_free {
    position: absolute;
    width: 74px;
    height: inherit;
    left: 5px;
    top: 0px;
  }

  .free {
    position: absolute;
    width: 65px;
    height: 24px;
    left: 195px;
    top: 449px;
    color: variables.$sabzak;
  }

  .side-add {
    position: absolute;
    width: 75px;
    height: 24px;
    left: 40px;
    top: 483px;
    background-color: variables.$in_yel;
  }

  .inner_add {
    position: absolute;
    width: 63px;
    height: inherit;
    left: 5px;
    top: 0px;
  }

  .add {
    position: absolute;
    width: 132px;
    height: 24px;
    left: 128px;
    top: 483px;
  }

  .zab {
    position: absolute;
    width: 95px;
    height: 22px;
    left: 40px;
    top: 557px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: variables.$black;
  }

  .zab_yek {
    position: absolute;
    width: 67px;
    height: 24px;
    left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: variables.$in_ger;
  }

  .per {
    top: 594px;
  }

  .sath {
    position: absolute;
    width: 123px;
    height: 24px;
    left: 222px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: variables.$in_ger;
  }

  .nat {
    top: 594px;
  }

  .Eng {
    top: 636px;
  }

  .adv {
    top: 635px;
  }

  .Spanish {
    top: 678px;
  }

  .bas {
    top: 678px;
  }

  .sev {
    top: 735px;
  }

  .contact {
    position: absolute;
    width: 173px;
    height: 22px;
    left: 40px;
    top: 766px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;

    text-transform: capitalize;
    color: variables.$black;
  }

  .ema {
    top: 829px;
  }

  .email {
    left: 85px;
    top: 824px;
  }

  .pho {
    top: 877px;
  }

  .phone {
    left: 153px;
    top: 876px;
  }

  .tel {
    top: 921px;
  }

  .telegram {
    left: 152px;
    top: 923px;
  }

  .sky {
    top: 964px;
  }

  .skype {
    left: 152px;
    top: 964px;
  }

  .cha {
    top: 1027px;
  }

  .skill {
    position: absolute;
    width: 45px;
    height: 22px;
    left: 40px;
    top: 1052px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;

    text-transform: capitalize;
    color: variables.$black;
  }

  .t2t {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 40px;
  }

  .t1 {
    top: 1093px;
  }

  .ski_yek {
    position: absolute;
    width: 156px;
    height: 24px;
    left: 70px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: variables.$in_ger;
  }

  .ski1 {
    top: 1089px;
  }

  .t2 {
    top: 1122px;
  }

  .ski2 {
    top: 1118px;

  }

  .t3 {
    top: 1151px;
  }

  .ski3 {
    top: 1147px;
  }

  .t4 {
    top: 1176px;
  }

  .ski4 {
    top: 1176px;
  }

  .pan {
    top: 1225px;
  }

  .cv{
    position: absolute;
    top: 1250px;
    left: 40px;
    width: 220px;
    height: 40px;
  }
}

